<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Imagen</th>
    <th scope="col">Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let restaurant of restaurants">
    <td>{{restaurant.id}}</td>
    <th>{{restaurant.name}}</th>
    <th>{{restaurant.description}}</th>
    <th>{{restaurant.image}}</th>
    <td>
      <a class="btn btn-primary btn-sm" routerLink="/form/{{restaurant.id}}">Ver/Editar</a>
      <a class="btn btn-primary btn-sm btn-danger" (click)="delete(restaurant.id)">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>
